body {
    background-color: #2c2f33;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 704px;
    margin: 0;
    padding: 0;
}

#TierBoard {
    display: block;
    padding: 0;
    margin: 0;
}

.TierRow {
    display: block;
    background-color: #191b1d;
    width: 704px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.TierLabel {
    display: table-cell;
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    background-color: hsl(0, 100%, 40%);
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

.TierItems {
    display: inline-block;
    width: 640px;
    vertical-align: top;
    font-size: 0;
    white-space: normal;
}

.TierItems img {
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: top;
    object-fit: cover;
}
